<%= header_and_page_title(@user.login) %>

<% if @user.active_team %>
  <h3>
    <%= t('users.main_team') %>
  </h3>

  <p>
    <%= @user.active_team %>
  </p>
<% end %>

<% if @current_user == @user %>
  <h3>
    <%= t('users.passive_teams') %>
  </h3>

  <%= render 'shared/teams_table',
              teams: @user.teams,
              user: @user,
              render: [:leave, :change] %>
<% end %>
