<table class="table table-striped">
  <thead>
    <th class="col-sm-2">
      <%= Team.human_attribute_name(:name) %>
    </th>
    <th class="col-sm-2">
      <%= Team.human_attribute_name(:owner) %>
    </th>
    <th class="col-sm-2">
    </th>
  </thead>
  <tbody>
    <% teams.each do |team| %>
      <tr>
        <td>
          <%= team.name %>
        </td>
        <td>
          <%= team.owner %>
        </td>
        <td>
          <% if @current_user %>
            <% team_member = @current_user.team_members.find { |tm| tm.team_id == team.id } %>

            <% if team_member %>
              <% if render.include? :change %>
                <%= link_to t('teams.change'),
                            my_team_member_path(team_member),
                            data: { method: :put },
                            class: 'btn btn-primary' %>
              <% end %>

              <% if render.include? :leave %>
                <%= link_to t('teams.leave'),
                            my_team_member_path(team_member),
                            data: { method: :delete },
                            class: 'btn btn-danger' %>
              <% end %>
            <% else %>
              <%= link_to t('teams.request_to_join'),
                          team_requests_path(team_id: team.id),
                          data: { method: :post },
                          class: 'btn btn-default' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
