<%= header_and_page_title(t('games.upcoming')) %>

<% @games.each do |game| %>
  <h3><%= game.title %></h3>

  <legend></legend>

  <div>
    <%= raw game.description %>
  </div>

  <% if @current_user %>
    <% if game.active? && game.start < Time.now.utc %>
      <%= link_to t('games.participate'),
                  game_participation_path(game_id: game.id),
                  class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <%= link_to t('games.statistics.title'),
              game_statistics_path(game_id: game.id),
              class: 'btn btn-primary' %>

<% end %>
