<h1>
  <% title = t('games.my.title') %>
  <% content_for(:page_title, title) %>
  <%= title %>
</h1>

<table class="table table-striped">
  <thead>
    <th class="col-sm-2">
      <%= Game.human_attribute_name(:title) %>
    </th>
    <th class="col-sm-2">
      <%= Game.human_attribute_name(:start) %>
    </th>
    <th class="col-sm-1">
    </th>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td>
          <%= game.title %>
        </td>
        <td>
          <%= game.start %>
        </td>
        <td>
          <%= link_to t('common.edit'),
                edit_game_path(game),
                class: 'btn btn-default' %>
          <%= link_to t('common.delete'),
                game_path(game),
                class: 'btn btn-danger',
                data: { method: :delete, confirm: I18n.t('common.are_you_sure') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
