<%= header_and_page_title(
      t('game_participations.level', level: @participation.current_game_level.sort)
    ) %>

<%= simple_form_for @game_level_code, url: game_participation_path(game_id: @participation.game.id), method: :put do |f| %>
  <%= f.input :code %>
  <%= f.submit t('game_participations.enter_code'), class: 'btn btn-primary' %>
<% end %>

<h3><%= @participation.current_game_level.title %></h3>
<legend></legend>

<div>
  <%= raw @participation.current_game_level.description %>
</div>

<% @participation.current_game_level.prompts.each_with_index do |prompt, i| %>
  <h4><%= "#{i + 1} patarimas" %></h4>
  <legend></legend>
  <% if prompt.visible_for?(@participation) %>
    <p>
      <%= raw prompt.description %>
    </p>
  <% else %>
    <p class="js-countdown" data-countdown-until="<%= prompt.appears_at(@participation).iso8601 %>">
    </p>
  <% end %>
<% end %>

<%= content_tag(:bottom_scripts) do %>
  <%= javascript_include_tag 'app/ov' %>

  <script>
    OV.Countdown.initialize({
      $el: $('.js-countdown')
    });
  </script>
<% end %>
