<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if @current_user.nil? %>
          <% login = Login.new %>
          <%= simple_form_for(login, url: login_users_path, method: :put, html: { class: 'navbar-form' }) do |f| %>
            <%= f.input :login, label: false %>
            <%= f.input :password, label: false, as: :password %>
            <%= f.button :submit, I18n.t('login.login'), class: 'btn btn-primary' %>
            <%= link_to I18n.t('users.new'), new_user_path, class: 'btn btn-primary' %>
          <% end %>
        <% else %>
          <li>
            <%= link_to @current_user.login, '#' %>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% I18n.available_locales.each do |locale| %>
          <li>
            <%= link_to locale, locale_path(locale: locale), data: { method: :put } %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
